    @tailwind base;
    @tailwind components;
    @tailwind utilities;
    @layer base {
         :root {
            font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
            line-height: 1.5;
        }
        body {
            margin: auto;
            min-height: 100vh;
            background: linear-gradient( to bottom right, #E9D5FF 0%, #FBCFE8 50%, #BFDBFE 100%);
            background-repeat: no-repeat;
            background-attachment: fixed;
            overflow-x: hidden;
        }
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
    }